<!-- templates/conceitos_basicos.html -->
{% extends 'base.html' %}

{% block title %}Conceitos Básicos - Educação Financeira{% endblock %}

{% block content %}
<div class="container my-5">
    <header class="mb-4">
        <h1>Conceitos Básicos de Educação Financeira</h1>
        <p>Aprenda os fundamentos essenciais para uma gestão financeira eficaz e transforme sua relação com o dinheiro. 
        Aqui você encontrará as bases necessárias para construir uma vida financeira saudável, 
        desde o planejamento básico até a tomada de decisões mais conscientes. 
        Entenda como pequenas mudanças nos seus hábitos financeiros podem gerar grandes impactos no seu futuro, 
        através de conceitos práticos e aplicáveis no dia a dia.</p>
    </header>

    <section class="secao">
        <h2>O que é Educação Financeira?</h2>
        <p>A educação financeira é um conjunto de conhecimentos e habilidades que permite aos indivíduos gerenciar suas finanças de forma eficaz. Entre os conceitos básicos, destaca-se o planejamento financeiro, que envolve a definição de objetivos financeiros e a criação de um plano para alcançá-los, levando em conta a renda, despesas e economia.</p>
    </section>

    <section class="secao">
        <h2>Conceitos Básicos</h2>
        <p>Outro aspecto importante é o orçamento, que é a prática de controlar receitas e despesas. Essa ferramenta ajuda a visualizar onde o dinheiro está sendo gasto e permite ajustes conforme necessário. A poupança também desempenha um papel fundamental, pois é crucial reservar uma parte da renda para emergências e futuros investimentos, promovendo segurança financeira.</p>
        <p>Além disso, compreender as opções de investimento e seus riscos é essencial para aumentar o patrimônio ao longo do tempo. A educação financeira também abrange o uso consciente do crédito e a gestão de dívidas, que são fundamentais para evitar problemas financeiros.</p>
        <p>Por fim, o consumo consciente incentiva a reflexão sobre as necessidades versus desejos, promovendo escolhas de consumo mais responsáveis. Esses conceitos visam capacitar os indivíduos a tomarem decisões financeiras informadas e a alcançarem uma maior estabilidade econômica.</p>
    </section>

    <section class="secao">
        <h2>Referência</h2>
        <ul>
            <li>SPC Brasil. "Educação Financeira". Disponível em: <a href="https://www.spcbrasil.org.br/blog/educacao-financeira" target="_blank">SPC Brasil</a></li>
        </ul>
    </section>
</div>
{% endblock %}
