<!-- Desenvolvido por Daniel Jozias. Aluno do 3º X - CEMEP -->
{% extends 'base.html' %}

{% block title %}Educação Financeira{% endblock %}

{% block content %}
<div class="container my-5">
    <header class="mb-4">
        <h1>Educação Financeira: Ferramentas e Estratégias para uma Gestão Eficiente</h1>
        <p><strong>Autor:</strong> Daniel Jozias Duarte Martins</p>
        <p><strong>Instituição:</strong> CEMEP</p>
        <p><strong>Curso:</strong> Ensino Médio</p>
        <p><strong>Data de Entrega:</strong> 22 de Novembro de 2024</p>
        <p><strong>Orientadores:</strong> Diogo Pelaes e Raquel Lot</p>
    </header>

    <section class="secao">
        <h2>Resumo</h2>
        <p>Este trabalho aborda a importância da educação financeira, apresentando ferramentas e estratégias para uma gestão eficiente das finanças pessoais. O objetivo é capacitar indivíduos a tomarem decisões financeiras com base teórica, promovendo a estabilidade econômica e o bem-estar financeiro.</p>
    </section>

    <section class="secao">
        <h2>O que é Educação Financeira?</h2>
        <p>Educação financeira ensina como ganhar, gastar e poupar seu dinheiro de maneira inteligente. É como aprender as regras do jogo para ter uma vida financeira equilibrada e segura.</p>
        <p>Tomar decisões conscientes, alcançar objetivos como compra de bens ou planejamento de uma faculdade, e ter mais liberdade financeira são apenas alguns dos benefícios da educação financeira.</p>
    </section>
</div>
{% endblock %}
