<!-- templates/poupanca.html -->
{% extends 'base.html' %}

{% block title %}Poupança - Educação Financeira{% endblock %}

{% block content %}
<div class="container my-5">
    <header class="mb-4">
        <h1>Poupança</h1>
        <p>A educação financeira é um conjunto de conhecimentos e habilidades que capacita os indivíduos a gerenciar suas finanças de forma eficaz, promovendo segurança e autonomia econômica. A poupança é um conceito central nesse contexto, pois envolve a reserva de uma parte da renda para emergências e para investimentos futuros. A criação de um fundo de emergência é uma recomendação comum, uma vez que esse recurso pode evitar problemas financeiros em momentos inesperados, como desemprego ou despesas médicas.</p>
    </header>

    <section class="secao">
        <h2>Importância da Poupança</h2>
        <p>A poupança é crucial para garantir a segurança financeira. Ela permite que os indivíduos tenham uma reserva para lidar com imprevistos e também para aproveitar oportunidades de investimento. Manter uma poupança regular ajuda a evitar o endividamento e proporciona tranquilidade financeira.</p>
    </section>

    <section class="secao">
        <h2>Estratégias de Poupança</h2>
        <p>Existem várias estratégias para poupar de forma eficaz. Uma delas é definir metas claras de poupança, como economizar para uma viagem, um carro ou a aposentadoria. Outra estratégia é automatizar as economias, transferindo automaticamente uma parte da renda para uma conta de poupança.</p>
        <p>Além disso, é importante revisar regularmente o orçamento pessoal para identificar áreas onde é possível economizar mais. Pequenas mudanças nos hábitos de consumo podem resultar em economias significativas ao longo do tempo.</p>
    </section>

    <section class="secao">
        <h2>Investimentos e Riscos</h2>
        <p>Entender as diferentes opções de investimento e seus riscos é fundamental para quem deseja aumentar seu patrimônio ao longo do tempo. Os investimentos podem variar desde aplicações em renda fixa, como títulos públicos e CDBs, até ações e fundos imobiliários, cada um com seu perfil de risco e potencial de retorno.</p>
    </section>

    <section class="secao">
        <h2>Gestão de Crédito e Dívidas</h2>
        <p>A gestão do crédito e das dívidas também merece destaque na educação financeira.</p>
    </section>

    <section class="secao">
        <h2>Referência</h2>
        <ul>
            <li>Caixa Econômica Federal. "Poupança". Disponível em: <a href="https://www.caixa.gov.br/voce/poupanca-e-investimentos/poupanca/Paginas/default.aspx" target="_blank">@https://www.caixa.gov.br/voce/poupanca-e-investimentos/poupanca/Paginas/default.aspx</a></li>
        </ul>
    </section>
</div>
{% endblock %}
